<%= form_with(model: @player, local: true) do |form| %>

    <% if !current_or_guest_user.player.nil?%>
        <% if !@player.avatar.nil?%>
            <div class="player_avatar"> <%= avatar %></div>
        <% end %>
    <% end %>

    <div class="input input--borderless">
        <%= form.label "Player Avatar", :class => 'input-label' %>
        <%= form.file_field :avatar %>
    </div>

    <div class="input">
        <%= form.label "Player Name", :class => 'input-label' %>
        <%= form.text_field :name, :class => 'input-text' %>
    </div>

    <div class="actions">
    <%= form.submit "Submit", class: 'btn' %>
    </div>

<% end %>