<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Player: #{@player.name}"} %>
<% end %>

<div class="card">
  <h2>Your created tasks</h2>

    <% if @player.game_tasks.size==1 %>
        <p class="left"><%= @player.game_tasks.size %> task in total</p>
    <% else %>
        <p class="left"><%= @player.game_tasks.size %> tasks in total</p>
    <% end %>

    <% if @player.game_tasks.empty? %>
        <div class="card__tasks card__tasks--high">
            <p>You haven't created any tasks yet...</p>
        </div>
    <% else %>
        <div class="card__tasks card__tasks--high">
            <h3>Your created tasks:</h3>
            <ul class="tasks__list">
                <% @player.game_tasks.each do | task | %>
                    <div class="task">
                        <div class="task__header">
                            <p class="task__name"><strong><%= task.name %></strong></p>
                            <div class="task__links">
                                <% if task.route.finished? %>
                                    <%= link_to 'Results', route_game_task_path(task.route, task) %>
                                <% else %>
                                    <%= link_to 'Edit', edit_route_game_task_path(task.route, task) %>
                                <% end %>
                            </div>
                        </div>
                        <p class="task__description"><%= task.description %></p>
                    </div>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>