<%= form_with(model: route, local: true) do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= form.label :id, :class => 'input-label' %>
    <%= form.text_field :id, :class => 'input-text' %>
  </div>

  <div class="input">
    <%= form.label :latitude, :class => 'input-label' %>
    <%= form.text_field :latitude, :class => 'input-text' %>
  </div>

  <div class="input">
    <%= form.label :longitude, :class => 'input-label' %>
    <%= form.text_field :longitude, :class => 'input-text' %>
  </div>

  <div class="input">
    <%= form.label :location, :class => 'input-label' %>
    <%= form.text_field :location, :class => 'input-text' %>
  </div>

  <%= map(:center => {
  :latlng => [47.802087, 13.032622],
  :zoom => 15
  }) %>

  <div class="input">
    <div class="input-label_container">
      <%= form.label :radius, :class => 'input-label' %>
      <p class="input-range_value"></p>
    </div>
    <%= form.range_field :radius, in: 1..10, :class => 'input-range' %>
    <div class="numbering">
      <p>1</p>
      <p>10</p>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Route erstellen', :class => 'btn' %>
  </div>
<% end %>
