<% content_for :nav do %>
  <%= render partial: 'layouts/nav_create_route', locals: {title: "Route beitreten"} %>
<% end %>

<h2>Route beitreten</h2>

<%= form_with url: "join_route", method: "post" do |form| %>

  <div class="input">
    <%= form.label :game_id, :class => 'input-label' %>
    <%= form.text_field :game_id, :class => 'input-text' %>
  </div>

   <div class="input">
    <%= form.label :playername, :class => 'input-label' %>
    <%= form.text_field :playername, :class => 'input-text' %>
  </div>

  <div class="actions">
    <%= form.submit 'Route joinen', class: 'btn' %>
  </div>
<% end %>
