<%= form_with(model: @route, local: true) do |form| %>

  <div class="input">
    <%= form.label :id, :class => 'input-label' %>
    <%= form.text_field :id, :class => 'input-text' %>
  </div>

   <div class="input">
    <%= form.label :players, :class => 'input-label' %>
    <%= form.text_field :players, :class => 'input-text' %>
  </div>

  <div class="actions">
    <%= form.submit 'Route joinen', class: 'btn' %>
  </div>
<% end %>
