<%= form_with(model: route, method: "post", local: true) do |form| %>
  <% if route.errors.any? %>
    <div class="error__explanation">
      <h3> Route cannot be saved because..</h3>
      <ul>
        <% route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= form.label "Route Name", :class => 'input-label' %>
    <%= form.text_field :name, :class => 'input-text' %>
  </div>

  <p class="map__instruction"> Click on the map to choose the route location </p>
  <div id="map"> </div>
  
  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>

  <div class="input">
    <div class="input-label__container">
      <%= form.label :radius, :class => 'input-label' %>
      <p class="input-range__value"></p>
    </div>
    
    <%= form.range_field :radius, in: 1..10, value: 1, :class => 'input-range' %>
    <div class="numbering">
      <p>1</p>
      <p>10</p>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Create Route', :class => 'btn btn--disabled' %>
  </div>
<% end %>
