<% content_for :nav do %>
  <%= render partial: 'layouts/nav_with_back', locals: {title: "Route beitreten", link: "/"} %>
<% end %>
<div class="card">
  <h2>Route beitreten</h2>

  <p id="notice"><%= notice %></p>

  <%= form_with url: "join_route", method: "post" do |form| %>

    <div class="input">
      <%= form.label "Routenname", :class => 'input-label' %>
      <%= form.text_field :name, :class => 'input-text' %>
    </div>

    <div class="actions">
      <%= form.submit 'Route beitreten', class: 'btn' %>
    </div>
  <% end %>
</div>