<div class="card">
    <div class="card-nav"> 
        <h3 class="card-nav_element card-nav_element--active"><%= link_to_unless_current "Karte", map_route_path %></h3>
        <h3 class="card-nav_element"><%= link_to_unless_current "Aufgaben", route_path %></h3>
    </div>

    <div class="card-map">
        <div id="map" data-lat="<%= @route.latitude %>" data-long="<%= @route.longitude %>"> </div>
    </div>

    <%= content_tag "div", id: "tasks", data: {tasks: @tasks} do %>
    <% end %>

    <% if @route.game_tasks.empty? #(@route.player_id != @player.id) && %> 
        <%= link_to 'Start', start_route_path(@route), { class: 'btn btn--disabled' } %>
    <% else %>
        <%= link_to 'Start', start_route_path(@route), { class: 'btn' } %>
    <% end %>
</div>