<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>


<div class="card">
  <div class="card-nav"> 
    <h3 class="card-nav_element"><%= link_to_unless_current "Karte", map_route_path(@route),  { action: "map", method: "get", params: {"route"=>{ route_id: @route_id }} } %></h3>
    <h3 class="card-nav_element card-nav_element--active"><%= link_to_unless_current "Aufgaben", route_path %></h3>
  </div>

    <% if @route.game_tasks.size==1 %>
        <p><%= @route.game_tasks.size %> Aufgabe gesamt</p>
    <% else %>
        <p><%= @route.game_tasks.size %> Aufgaben gesamt</p>
    <% end %>
    
    <% if @route.game_tasks.where(player: current_or_guest_user.player).empty? %>
        <div class="card-tasks">
            <p> Du hast noch keine Aufgaben erstellt... go wild und erstelle eine </p>
        </div>
    <% else %>  
        <div class="card-tasks">
            <h3>Deine erstellten Aufgaben:</h3>  
            <ul class="card-tasks_list">
                <% @route.game_tasks.where(player: current_or_guest_user.player).each do | task | %>
                    <div class="task">
                        <div class="task-header">
                            <p class="task-name"><strong><%= task.name %></strong></p>
                            <%= link_to 'Edit', edit_route_game_task_path(@route, task) %>
                        </div>
                        <p class="task-description"><%= task.description %></p>
                    </div>
                <% end %>
            </ul>
        </div>    
    <% end %>   
    <%= link_to '+', new_route_game_task_path(@route),  {params: {"game_task"=>{ route_id: @route.id }}, class: 'btn add' } %>
</div>