
  <div class="card-nav"> 
    <h3 class="card-nav_element"><%= link_to_unless_current "Karte", map_route_path(@route),  { action: "map", method: "get", params: {"route"=>{ route_id: @route_id }} } %></h3>
    <h3 class="card-nav_element card-nav_element--active"><%= link_to_unless_current "Aufgaben", route_path %></h3>
  </div>

    <% if @route.game_tasks.size==1 %>
        <p class="left"><%= @route.game_tasks.size %> Aufgabe gesamt</p>
    <% else %>
        <p class="left"><%= @route.game_tasks.size %> Aufgaben gesamt</p>
    <% end %> 
    
    <% if @route.game_tasks.where(player: current_or_guest_user.player).empty? %>
        <div class="card-tasks">
            <p> Du hast noch keine Aufgaben erstellt... go wild und erstelle eine </p>
        </div>
    <% else %>  
        <div class="card-tasks">
            <h3>Deine erstellten Aufgaben:</h3>  
            <ul class="card-tasks_list">
                <% @route.game_tasks.where(player: current_or_guest_user.player).each do | task | %>
                    <div class="task">
                        <div class="task-header">
                            <p class="task-name"><strong><%= task.name %></strong></p>
                            <div class="task_links">
                                <% if !task.multiple_choice? %>
                                <%= link_to 'Edit', edit_route_game_task_path(@route, task) %>
                                <span class="divider"> | </span>
                                <% end %>
                                <%= link_to 'Destroy', [@route,task.becomes(GameTask)], method: :delete, data: { confirm: 'Are you sure?' } %>
                            </div>
                        </div>
                        <p class="task-description"><%= task.description %></p>
                    </div>
                <% end %>
            </ul>
        </div>    
    <% end %>   
    <%= link_to '+', add_task_route_path(@route),  {params: {"game_task"=>{ route_id: @route.id }}, class: 'btn add' } %>
