<% content_for :nav do %>
  <%= render 'layouts/nav_home' %>
<% end %>

<div class="card">
  <div class="card-home">
  <section class="intro">
    <h2 class="intro_title">Griasti zur <span>SchnitzelRally</span></h2>
    <p class="intro_text">Starte eine neue Route oder tritt mit einer SpielID einer bestehenden Route bei. </p>
  </section>

  <section class="buttons">
    <% if !user_signed_in? %>
      <p id="notice"><%= notice %></p>

      <%= form_with(url: join_routes_path, method: "post", local: true) do |form| %>
        <div class="input">
          <%= form.label "Playername", :class => 'input-label' %>
          <%= form.text_field :name, :class => 'input-text' %>
        </div>

        <div class="actions">
          <%= form.submit 'Join a Route', class: 'btn' %>
        </div>
      <% end %>

      <%= button_to 'New Route', new_route_path, { class: 'btn btn--disabled' } %>
    <% else %>
      <%= button_to 'Join Route', join_routes_path, { method: "post", class: 'btn' }  %>
      <%= button_to 'New Route', new_route_path, { method: "get", class: 'btn' }  %>
    <% end %>
  </section>
  </div>
</div>