<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @route.id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= Player.find(@route.player_id).name %>
</p>

<div class="card">
  <div class="card-nav"> 
    <h3 class="card-nav_element">Karte</h3>
    <h3 class="card-nav_element">Aufgaben</h3>
  </div>
    
  <%= render 'map', route: @route %>

  <%= render 'tasks', route: @route %>
</div>

<%= link_to 'Back', routes_path %>
