<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>

<div class="card">

  <% if @route.game_state == "planning" %>
    <%= render partial: 'tasks', locals: {route: @route} %>
  <% else %>
    <h2>End of route</h2>
    <p class="congrats"> Congrats! You have successfully completed route:  <span> <%= @route.name %></span> !</p>

    <div class="buttons-group">
      <%= link_to 'Results', results_route_path(@route), {class: 'btn' } %>

      <%= link_to 'Back to Menu', root_path, {class: 'btn' } %>
    </div>
  <%end%>

</div>