<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>

<div class="card">

  <% if @route.game_state == "planning" %>
    <%= render partial: 'tasks', locals: {route: @route} %>
  <% else %>
    <h2>End of route</h2>
    <p class="congrats">Congrats! You have successfully completed route <%= @route.name %>!</p>

    <%= link_to 'Results', route_path(@route), {class: 'btn btn--disabled' } %>

    <%= link_to 'Back to Menu', routes_path, {class: 'btn' } %>
  <%end%>

</div>