<h2> Multiple Choice</h2>

<div class="card">
  <%= form_with(model: [@route, @game_task], local: true) do |form| %>
    <% if @game_task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@game_task.errors.count, "error") %> prohibited this game_task from being saved:</h2>

        <ul>
          <% @game_task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.label "Choose the location on the map", :class => 'input-label' %>
    <div id="map" data-lat="<%= @route.latitude %>" data-long="<%= @route.longitude %>"> </div>
    
    <div class="input">
      <%= form.label 'Location hint', :class => 'input-label' %>
      <%= form.text_field :hint, :class => 'input-text' %>
    </div>

    <%= form.hidden_field :latitude %>
    <%= form.hidden_field :longitude %>

    <div class="input">
      <%= form.label "Task Name", :class => 'input-label' %>
      <%= form.text_field :name, :class => 'input-text' %>
    </div>

    <div class="input">
      <%= form.label 'Question', :class => 'input-label' %>
      <%= form.text_field :description, :class => 'input-text' %>
    </div>

    <div class="input">
      <%= form.label "Option", :class => 'input-label' %>
      <p class="note"> Please enter in format: option1, option2, option3, option4</p>
      <%= form.text_field :answers, :class => 'input-text' %>
    </div>
    <div class="input">
      <%= form.label "True is...", :class => 'input-label' %>
      <p class="note"> 1 for option1, 2 for option2 ...</p>
      <%= form.text_field :solution, :class => 'input-text' %>
    </div>

    <div class="actions">
      <%= form.submit 'Create', :class => 'btn' %>
    </div>
  <% end %>
</div>