  <h2>Single Choice</h2>
  <% route = @route; game_task = @game_task %>
  
  <%= form_with(model: [route, game_task], local: true) do |form| %>
    <% if game_task.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(game_task.errors.count, "error") %> prohibited this game_task from being saved:</h3>

        <ul>
          <% game_task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p class="map__instruction"> Click on the map to choose the task location </p>
    <div id="map" data-lat="<%= route.latitude %>" data-long="<%= route.longitude %>"> </div>

    <%= content_tag "div", id: "tasks", data: {tasks: @tasks} do %>
    <% end %>

    <div class="input">
      <%= form.label 'Location hint', :class => 'input-label' %>
      <%= form.text_field :hint, :class => 'input-text', :maxlength => 35, :required => true %>
    </div>

    <%= form.hidden_field :type %>
    <%= form.hidden_field :latitude %>
    <%= form.hidden_field :longitude %>

    <div class="input">
      <%= form.label "Task Name", :class => 'input-label' %>
      <%= form.text_field :name, :class => 'input-text', :maxlength => 25, :required => true %>
    </div>

    <div class="input">
      <%= form.label 'Your Question', :class => 'input-label' %>
      <%= form.text_field :description, :class => 'input-text', :maxlength => 35, :required => true %>
    </div>

    <div class="input">
      <%= form.label "Available Options", :class => 'input-label' %>
      <p class="input__hint">Please select the correct option</p>

      <div class="input__group">
        <div class="input-radiobutton">
            <%= form.radio_button :solution, 'a',  :checked => 'checked', :class => 'input-radio' %>
        </div>

          <div class="input">
            <%= form.text_field :answers, :class => 'input-text', :id => 'option1', :maxlength => 20, :required => true, :placeholder => 'option1' %>
          </div>
      </div>

      <div class="input__group">
        <div class="input-radiobutton">
            <%= form.radio_button :solution, 'b', :class => 'input-radio' %>
        </div>

          <div class="input">
            <%= form.text_field :answers, :class => 'input-text', :id => 'option2', :maxlength => 20, :required => true, :placeholder => 'option2' %>
          </div>
      </div>

      <div class="input__group">
        <div class="input-radiobutton">
            <%= form.radio_button :solution, 'c', :class => 'input-radio' %>
        </div>

          <div class="input">
            <%= form.text_field :answers, :class => 'input-text', :id => 'option3', :maxlength => 20, :required => true, :placeholder => 'option3' %>
          </div>
      </div>

      <div class="input__group">
        <div class="input-radiobutton">
            <%= form.radio_button :solution, 'd', :class => 'input-radio' %>
        </div>

          <div class="input">
            <%= form.text_field :answers, :class => 'input-text', :id => 'option4', :maxlength => 20, :required => true, :placeholder => 'option4' %>
          </div>
      </div>
      <%= form.hidden_field :answers, :id => 'mc-answers' %>
    </div>

    <div class="actions">
      <%= form.submit 'Create', :class => 'btn btn--disabled', :id => 'submit_btn' %>
    </div>
  <% end %>
