<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>

<h1>Game Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Hint</th>
      <th>Latitude</th>
      <th>Longitude</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_tasks.each do |game_task| %>
      <tr>
        <td><%= game_task.name %></td>
        <td><%= game_task.description %></td>
        <td><%= game_task.hint %></td>
        <td><%= game_task.latitude %></td>
        <td><%= game_task.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Task', new_route_game_task_path %>
