<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>

<div class="card">
  <% if @game_task.hint? %>
    <%= render partial: 'hint', locals: { route: @route, game_task: @game_task } %>
  <% elsif @game_task.task? %>
    <%= render partial: 'task', locals: { route: @route, game_task: @game_task } %>
  <% elsif @game_task.waiting_for_answers? %>
    <p> Waiting for other players to answer </p>
  <% else %>
    <%= render partial: 'result', locals: { route: @route, game_task: @game_task } %>
  <% end %>
</div>

<div id="dataDiv" data-player_id="<%= current_or_guest_user.player.name %>" data-task_id="<%= @game_task.id %>" data-route_id="<%= @route.id %>" ></div>
