<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game_task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game_task.description %>
</p>

<p>
  <strong>Hint:</strong>
  <%= @game_task.hint %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @game_task.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @game_task.longitude %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game_task.location %>
</p>



<%= link_to 'Edit', edit_game_task_path(@game_task) %> |
<%= link_to 'Back', route_game_task_path(@route, @game_task) %>
