<% content_for :nav do %>
  <%= render partial: 'layouts/nav_in_route', locals: {title: "Route: #{@route.name}"} %>
<% end %>

<div class="card">
  <p>
    Name: <%= @game_task.name %>
  </p>
  <p> <%= @game_task.hint %> </p>
  

  <div id="map" data-lat="<%= @route.latitude %>" data-long="<%= @route.longitude %>"> </div>

  <%= link_to 'Bin da', routes_path, {class: 'btn' } %>
</div>
